html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color:orange!important;
}
.table{
    color:orange!important;
}

/*BACKGROUR DES CONTENEUR*/
.bg-content{
    margin-top: 10%;
    background-color: #1d5e26;
    color: orange;
    padding: 20px;
}